DATABASE_URL="postgresql://user:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require"
NEXTAUTH_SECRET="genereer-een-random-string-van-minimaal-32-tekens"
NEXTAUTH_URL="https://jouw-app-naam.vercel.app"
